*{
    margin: 0;
    padding: 0;
}
.about-section {
  background: linear-gradient(to right, #000000, #ff8c1a);
  color: #fff;
  padding: 80px 10%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.about-image {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.about-content {
  flex: 1 1 50%;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e89a1d;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #e2e8f0;
}

.about-content .btn {
  display: inline-block;
box-shadow: 0 0 10px #ff8c1a;
  color: #f7f7f9;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.about-content .btn:hover {
  box-shadow: 0 0 10px #ff8c1a;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 300px;
  }
}
