    @media (max-width: 768px) {
      header nav a {
        flex-direction: column;
        gap: 10px;
      }
      nav {
        flex-direction: column;
        align-items: center;
      }
      .games {
        flex-direction: column;
        align-items: center;
      }
      .game {
        width: 90%;
      }
      .license-section {
        flex-direction: column;
      }
    }